@{
    ViewData["Title"] = "Home Page";
}


<div>
    <img src="~/images/Pagina principal/NUEVOS JUEGOS ESTÁN LLEGANDO.png" alt="Banner de la página" id="banner" />
</div>
<div>
    <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
        <button class="btn btn-outline-light" type="button">
            <img src="~/images/Pagina principal/lupa (1).png" class="lupa"/>
        </button>
    </form>
</div>
<div class="row d-flex justify-content-center gap-3 flex-wrap">
    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/spaceInvaders.png" class="imagenJuego"/>
        <h3 class="tituloJuego">Space Invaders</h3>
    </div>

    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/blackJack.png" class="imagenJuego" />
        <h3>Black Jack</h3>
    </div>

    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/buscaminas-removebg-preview.png" class="imagenJuego" />
        <h3>Buscaminas</h3>
    </div>

    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/Tetris_logo.png" class="tetris"/>
        <h3>Tetris</h3>
    </div>
</div>
<div class="row d-flex justify-content-center gap-3 flex-wrap seccionJuegos">
    <h2 class="subtitulo">PROXIMAMENTE...</h2>
    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/secreto.png" class="imagenJuego" />
        <h3>Juego secreto</h3>
    </div>
    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/secreto.png" class="imagenJuego" />
        <h3>Juego secreto</h3>
    </div>
    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/secreto.png" class="imagenJuego" />
        <h3>Juego secreto</h3>
    </div>
    <div class="divJuego col-3">
        <img src="~/images/Pagina principal/secreto.png" class="imagenJuego" />
        <h3>Juego secreto</h3>
    </div>
</div>