@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');
* {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #401950;
}
.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;
}

.navbar-brand img {
    height: 10vh;
}

.divNav {
    background: linear-gradient(to bottom, #8E52B7, #401950)
}

.navbar {
    padding: 0 !important;
}
#banner {

    border-radius:15px;
    margin-bottom: 2vh;
}
.lupa {
    height: 1.9vh;
}
.divJuego {
    background-color: #8E52B7;
    max-width: 20vh;
    text-align: center;
    border-radius: 10%;
    padding-top: 1vh;
    margin-top: 4vh;
}
.imagenJuego {
    height: 10vh;
}
.tetris {
    height: 10vh;
}
.tituloJuego {
    font-family: "Jersey 10", sans-serif;
}
.subtitulo {
    color: white;
    -webkit-text-stroke: 3px black;
    font-size: 6vh;
    position: absolute;
    left: 80vh;
    top: 83vh;

}

